body{
margin: 0;
width: 100vw;
min-height: 100vh;
background: #ecf0f3;
display: flex;
flex-wrap: wrap;
align-items: center;
text-align: center;
justify-content: center;
place-items: center;
font-family: Courier New, monospace;

}

.container{
    position: relative;
    width: 350px;
    height: 500px;
    border-radius: 20px;
    padding: 40px;
    background: #ecf0f3;
    box-shadow: 14px 14px 20px #cbced1, -14px -14px 20px white;

}

.container2{
    position: relative;
    border-radius: 20px;
    padding: 40px;
    background: #ecf0f3;
    box-shadow: -10px 1px 20px 4px #cbced1;
    margin-top: 40px;
}

.containerGrid{
    margin: 20px;
    justify-content: space-between;
    width: 100%;
    display: grid;
    grid-template-columns: 20% 20% 20% 20%;
}


.tittle{
    margin-top: 10px;
    font-weight: 900;
    font-size: 1.8rem;
    color: #212527;
    letter-spacing: 1px;

}

.inputs{
    text-align: left;
    margin-top: 10px;

}

input, label, button{
    display: block;
    width: 100%;
    padding: 0;
    border: none;
    outline: none;
    box-sizing: border-box;
    font-family: Courier New, monospace;

}

input::placeholder{
    margin-right: 5px;
    color: rgb(186, 180, 180);

}

input {
    background: #ecf0f3;
    margin-top: 10px;
    height: 40px;
    border-radius: 20px;
    font-weight: 750;
    box-shadow: 6px 6px 6px #cbced1, -6px -6px 6px white;
    padding: 10px;
    margin-bottom: 20px;
}

.button{
    color: white;
    background: #212527;
    height: 40px;
    border-radius: 20px;
    cursor: pointer;
    box-shadow: 6px 6px 6px #cbced1, -6px -6px 6px white;
    margin-top: 60px;
}

.button:hover{
    background: #3e464a;
    transition: 0.5s;
    box-shadow: none;
}




