<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Teste</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='/style/style.css'>
    <script src='main.js'></script>
</head>
<body>
    <form method="post" action="/pessoas/criar">
      <div class="container">
        <h1 class="tittle">Cadastre-se!</h1>
        <div class="inputs">
  <label id="nome" for="text">Nome</label>
  <input id="nome" name="nome" type="text" placeholder= "Digite seu nome"/>
  <label id="sobrenome" for="text">Sobrenome</label>
  <input id="sobrenome" name="sobrenome" type="text" placeholder= "Digite seu sobrenome"/>
  <label id="altura" type="text">Altura</label>
  <input id="altura" name="altura" type="text" placeholder= "Digite sua altura"/>
  <label id="idade" type="text">Idade</label>   
  <input id="idade" name="idade" type="text" placeholder= "Digite sua idade"/>
</div>
  <input class="button" type="submit" value="Enviar">
  </div>
    </form>
</body>
</html>